.container {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: auto auto;
  background-color: rgba(0, 0, 255, 0.192);
}

.grid-area {
  &--left {
    grid-area: left;
    border: 1px solid green;
  }

  &--right {
    grid-area: right;
    border: 1px solid red;
  }
}
